@font-face {
  font-family: "iconfont"; /* Project id 5115353 */
  src: url('font_index/iconfont.woff2?t=1769260845878') format('woff2'),
       url('font_index/iconfont.woff?t=1769260845878') format('woff'),
       url('font_index/iconfont.ttf?t=1769260845878') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e88f";
}

